@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-section {
  height: 90vh;
}

.neon-shadow {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ecf0c6;
  text-align: center;
  letter-spacing: 0.05em;
  position: relative;
  white-space: nowrap;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:
    0 0 7px #ff9100,
    0 0 8px #ff9100,
    0 0 21px #ff9100,
    0 0 32px #ff9100,
    0 0 22px #ff9100,
    0 0 32px #ff9100,
    0 0 12px #ff9100,
    0 0 11px #ff9100;
  animation: fadeIn 2s ease-in-out, pulsate 1.5s infinite alternate;
  margin-bottom: 10px;
  /* Reducing the gap */
}
